.create {
  text-align: center;
  
  button {
    margin-bottom: 20px;
  }

  h2 { 
    margin: 5px auto;
  }

  ul {
    margin-right: 1.5em;
  }

  .buttons {

    > button {
      width: 100px;
    }

    > * + * {
      margin-left: 30px;
    }
  }

}