.form {
  background-color: $secondary-dark;

  > div {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include wider-than(1000px) {
      width: 960px;
    }
    
    .inputs {
      background-color: $primary-dark;
      border: 1px white solid;
      padding: 1em;
      margin: 0.5em;

      @include wider-than(1000px) {
        padding: 2em;
        margin: 1em;
      }
    }

    h1 {
      margin: 5px;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 5px;
      justify-content: center;
      
      > select, input, textarea {
        display: block;
        margin: 5px;
      }
      
      select {
        font-size: 1em;
      }

      .buttons {
        margin: 1em;
        display: flex;
        justify-content: center;

        > button, .button {
          width: 100px;
          margin: 0.5em;
        }
      }
    }
  }
}

.login {
  @include wider-than(1000px) {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(rgba(0, 0, 0, 0.8),
      rgba(38, 102, 195, 0.39)),
      url(../images/soccer.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
  

    #fail {
      display: none;
      color: #dc143c;
    }
}

.signup {

  @include wider-than(1000px) {
    background: radial-gradient(rgba(0, 0, 0, 0.8),
      rgba(38, 102, 195, 0.39)),
      url(../images/hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
  }
  
}