.hero {
  background-color: $primary-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
  background: radial-gradient(rgba(11, 52, 112, 0.8),
   rgba(38, 102, 195, 0.39)),
    url(../images/hero.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include wider-than(1000px) {
    background: radial-gradient(rgba(0, 0, 0, 0.8),
      rgba(38, 102, 195, 0.39)),
      url(../images/hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  > div {
    margin: 0 auto;
    position: relative;

    @include wider-than(1000px) {
      width: 960px;
    }

    h1 {
        text-align: center;

        @include wider-than(1000px) {
          transform: translateY(-1em);
          text-shadow: 1px 1px 1px #3a8bff;
        }

    }

    p {
        margin: 0 auto;
        text-align: center;

      @include wider-than(1000px) {
        width: 870px;
        font-size: 18pt;
        text-shadow: 1px 1px 1px #3a8bff;        
      }

    }
    
    .inputs {
      text-align: center;
      display: flex;
      height: 30px;
      margin-top: 300px;
      justify-content: center;
      align-items: center;
      
      @include wider-than(1000px) {
        margin: 0 auto;
        margin-top: 45px;
        transform: none;
        display: block;
        height: auto;
      }
      
      .search-btn {
      padding: 4px 8px;
      
        @include wider-than(1000px) {
          width: 250px;
        }

      }

      h3 {
        margin: 0px 30px;


        @include wider-than(1000px) {
          text-align: center;
          margin: 20px 0;
        }
      }

      .create {
        text-align: center;
        padding: 4px 8px;


        @include wider-than(1000px) {
          width: 250px;
          padding: 4px;
        }
      }
    }

  }
}