.panels {
  background-color: $primary-dark;
  border-top: 1px #fff solid;

  > div {
    margin: 0 auto;
    
    @include wider-than(1000px) {
      width: 960px;      

    }

    .media {
      background-color: $primary-dark;
      display: flex;
      align-items: center;
      
      .img {
        width: 100px;
        height: 70px;
        margin: 5px;
        background-size: cover;
        background-repeat: no-repeat;

        @include wider-than(960px) {
          width: 310px;
          height: 260px;
          margin: 20px;
        }
      }

      .content {
        flex: 1;
        margin: 20px;

        > h1 {
          font-family: 'Russo One', Arial;
          border-bottom: 1px $primary-color solid;
        }
      }
    }
  }
}