.primary-footer {
  background-color: $primary-color;
  border-top: 1px #fff solid;
  
  > div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    padding: 2em;

    @include wider-than(1000px) {
      flex-direction: row;
      width: 960px;
      padding: 2em;      
    }
    

    .social {
        text-align: center;
        
      @include wider-than(1000px) {
        transform: translateX(7em);
      }

      h2 {
        font-size: 1.5em;
      }

      a {
        display: block;
        margin: 5px 0;
      }
    } 

    .legal {
      text-align: center;

      
      @include wider-than(1000px) {
        position: absolute;
        right: 5em;
      }
      
      h1 {
        margin: 0;
        margin-bottom: 3px;
      }

      a {
        display: block;
      }
    }

  }

}